﻿@using Announcements.Helpers.Html
@model Announcements.Models.ViewModels.AnnouncementViewModel

@using (Html.BeginForm("Save","Announcement",FormMethod.Post,new { autocomplete="off"}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <label>@(Model.AnnouncementId.HasValue ? "Edit" : "Create") Announcement</label>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(f => f.AnnouncementId)
        @Html.ThemedValidationSummary()
        <div class="form-horizontal col-md-12">
            <div class="form-group">
                @Html.LabelFor(f => f.Name)
                @Html.TextBoxFor(f => f.Name, new { placeholder = "Enter Name", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.DateTime)
                
                <div class="input-group date">
                    <input name="@Html.NameFor(f => f.DateTime)" type="text" class="form-control" value="@(Model.DateTime.HasValue?Model.DateTime.Value.ToShortDateString():"")">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success action-link"
           url="@Url.Action("Save")"
           modal-success-callback="Announcement.Refresh()"
           ajax-container-dest="#myModalContent">
            Save
        </a>
        <a href="#" class="btn btn btn-default" data-dismiss="modal">Cancel</a>
    </div>
}