﻿@{
    ViewBag.Title = "Announcements";
}


<div class="row home-page-content">
    <div class="col-md-9">
        <h1 class="text-center">Test project!</h1>
        <h2>Announcements</h2>
        <p>The list of announcements is presented in the right block under the calendar</p>
    </div>
    <div class="col-md-3 text-center right-blok">
        <div class="calendar"></div>
        <div id="announcements">
            @Html.Action("GetAnnouncements")
        </div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/Scripts/Home/Home.js")
}