﻿<h2>Announcements</h2>
<div class="row">
    <div class="col-md-12 text-right">
        <a class='btn btn-sm btn-primary action-link'
           url="@Url.Action("Add")"
           ajax-container-dest="#myModalContent"
           is-modal="true"
           role='button'>Add</a>
    </div>
</div>
<div class="row admin-page-grid">
    <div class="col-md-12">
        @Html.MVCGrid("AnnouncementGrid")
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/Announcement/Announcement.js")
}