﻿@model List<Announcements.Models.ViewModels.AnnouncementViewModel>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item text-left">
            <h4 class="list-group-item-heading">@item.Name</h4>
            <p class="list-group-item-text">@(item.DateTime.HasValue?item.DateTime.Value.ToLongDateString() :"")</p>
        </a>
    }
</div>


@if (!Model.Any())
{
    <label>No Announcements</label>
}