﻿html {
    height: 100%;

    body {
        height: 100%;
        padding-top: 50px;
        padding-bottom: 20px;

        .body-content {
            height: 100%;
            padding-left: 15px;
            padding-right: 15px;

            .global-messages {
                position: absolute;
                left: 45%;
                top: 60px;

                .global-message-item {
                    padding: 7px;
                    margin-bottom: 5px;
                }
            }

            .home-page-content {
                height: calc( 100% - 85px);

                .has-events {
                    color: lightseagreen !important
                }

                .right-blok {
                    background-color: aliceblue;
                    height: 100%;
                    margin-top: 10px;

                    .calendar {
                        display: inline-block;
                    }

                    #announcements {
                        height: calc(100% - 270px);
                        overflow-y: auto;
                        overflow-y: auto;
                    }
                }
            }

            .admin-page-grid {
                height: calc(100% - 180px);

                .mr-5 {
                    margin-right: 5px;
                }
            }
        }

        .modal-body {
            .form-horizontal {
                display: block;
                float: initial;

                input.input-validation-error {
                    background: #FEF1EC !important;
                    border: 1px solid #CD0A0A !important;
                }
            }
        }
    }
}
