﻿html {
  height: 100%; }
  html body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px; }
    html body .body-content {
      height: 100%;
      padding-left: 15px;
      padding-right: 15px; }
      html body .body-content .global-messages {
        position: absolute;
        left: 45%;
        top: 60px; }
        html body .body-content .global-messages .global-message-item {
          padding: 7px;
          margin-bottom: 5px; }
      html body .body-content .home-page-content {
        height: calc( 100% - 85px); }
        html body .body-content .home-page-content .has-events {
          color: lightseagreen !important; }
        html body .body-content .home-page-content .right-blok {
          background-color: aliceblue;
          height: 100%;
          margin-top: 10px; }
          html body .body-content .home-page-content .right-blok .calendar {
            display: inline-block; }
          html body .body-content .home-page-content .right-blok #announcements {
            height: calc(100% - 270px);
            overflow-y: auto;
            overflow-y: auto; }
      html body .body-content .admin-page-grid {
        height: calc(100% - 180px); }
        html body .body-content .admin-page-grid .mr-5 {
          margin-right: 5px; }
    html body .modal-body .form-horizontal {
      display: block;
      float: initial; }
      html body .modal-body .form-horizontal input.input-validation-error {
        background: #FEF1EC !important;
        border: 1px solid #CD0A0A !important; }
