@using System.Collections
@using Announcements.Helpers.Classes
@model string
@{
    ArrayList messages = ((ArrayList)Session["pageMessages"]) ?? new ArrayList();
    var listMessages = messages.Cast<object>().ToList().Select(s=>new
    {
        message=s,
        order = s is string || s is ErrorMessage ? 1 : s is WarnMessage ? 2 : 3
    });
    Session["pageMessages"] = new ArrayList();
}

<div id="global-messages" class="global-messages @Model">
    @if (listMessages.Any(a => a.order == 1))
    {
        <div class="text-left alert alert-danger global-message-item">
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                <span aria-hidden="true">x</span>
            </button>
            @foreach (var message in listMessages.Where(w=>w.order==1).OrderBy(o => o.order))
            {
                <p class="alert-text">@message.message</p>
            }
        </div>
    }
    @if (listMessages.Any(a => a.order == 2))
    {
        <div class="text-left alert alert-warning global-message-item">
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                <span aria-hidden="true">x</span>
            </button>
            @foreach (var message in listMessages.Where(w => w.order == 2).OrderBy(o => o.order))
            {
                <p class="alert-text">@message.message</p>
            }
        </div>
    }    
    @if (listMessages.Any(a => a.order == 3))
    {
        <div class="text-left alert alert-success global-message-item">
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                <span aria-hidden="true">x</span>
            </button>
            @foreach (var message in listMessages.Where(w => w.order == 3).OrderBy(o => o.order))
            {
                <p class="alert-text">@message.message</p>
            }
        </div>
    }
</div>
@if (listMessages.Any())
{
    <script>
        setTimeout(function(){$("#global-messages").html("")},2000);
    </script>
}
